* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

html{
    font-size: 16px;
}

body{
    background-color: #C9000B;
}

.header{
    background-color: red;
    /* width: 100%; */
}
.main{
    background-color: green;
    /* width: 100%; */
}
.footer{
    background-color: blue;
}

/* TEMPORARY */
.services, .our_advantages{
    border: 4px solid blueviolet;
}

.service div, .our_advantages div{
    border: 4px solid black;
}
    
/* TEMPORARY */
/* SERVICES */

.div_name{
    padding: 2rem;
    background-color: #C9000B;
}

.name{
    border: 2px solid black;
    border-radius: 50px;
    padding: 0.5rem;
    width: fit-content;
    background-color: #660005;
}


.service{
    background-color: #C9000B;
    padding: 2rem;
}

.service:nth-child(odd){
    background-color: #821117;
}

.service:nth-child(odd) .name{
    background-color: #C9000B;
}

.service_text:hover{
    background-color: #821117;
}

.service:nth-child(odd) .service_text:hover{
    background-color: #C9000B;
}

.service{
    display: flex;
}

.service_text{
    border-radius: 4rem;
    padding: 4rem;
    max-width: 35rem;
    min-width: 20rem;
    transition: background-color 0.3s ease 0s;
}

.service_images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
    row-gap: 0.5rem;
}

.service_image{
    width: 16rem;
    height: 8rem;
}

/* SERVICES */

/* ADVANTAGES */

.our_advantages{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 1rem; 
    padding: 0 2rem;
}

.advantage{
    text-align: center;
}

.advantage img{
    width: 2rem;
}


/* ADVANTAGES */

@media screen and (max-width: 800px) {

    /* html{
        font-size: 10px;
    } */

    /* SERVICES */

    .service{
        flex-wrap: wrap;
    }
    .service_text{
        /* margin: 0 auto; */
    }
    .service_images{
        justify-content: flex-start;
    }
    .main{
        background-color: aquamarine;
    }

    /* SERVICES */
}

@media screen and (min-width: 800px){

    /* SERVICES */

    .service:nth-child(odd) .service_text{
        order: 2;
    }
    
    .service:nth-child(odd) .service_images{
        order: 1;
    }

    /* SERVICES */
}

@media screen and (min-width: 1400px){

    html{
        font-size: 24px;
    }

    /* SERVICES */

    .service_text{
        max-width: 60rem;
        min-width: 40rem;
    }

    /* SERVICES */

}



